.container {
    font-family: 'Roboto', sans-serif; /* 使用Roboto字体 */
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .outputText {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    min-height: 50px;
    width: 100%;
  }

  .textarea {
    width: 600px; /* 设置宽度 */
    height: 600px; /* 设置高度，使其成为正方形 */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: hsl(80, 29%, 94%); /* 设置背景颜色为绿色 */
  }

  .outputText {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #8ACF00; /* 设置背景颜色为绿色 */
    width: 600px; /* 设置宽度 */
    height: 600px; /* 设置高度，使其成为正方形 */
    display: flex;
    font-size: 48px; /* 设置字体大小 */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    filter: blur(2px); /* 添加字体模糊效果 */
    align-items: center;
    justify-content: center; /* 水平和垂直居中内容 */
    text-align: center; /* 文本居中 */
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; /* 增加按钮和输出文本之间的间距 */
  }
  .logo {
    width: 100px; /* 设置logo宽度 */
    height: auto; /* 保持宽高比 */
    margin-bottom: 20px; /* 设置logo与其他元素的间距 */
  }

  .title {
    font-size: 48px; /* 设置字体大小 */
    font-weight: bold; /* 设置字体加粗 */
    margin-bottom: 20px; /* 设置标题与其他元素的间距 */
  }